alabaster==1.0.0
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.9.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
babel==2.17.0
blinker==1.9.0
cachelib==0.13.0
certifi==2025.7.14
cffi==1.17.1
channels==4.2.2
channels_redis==4.3.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.11
constantly==23.10.4
coverage==7.9.2
cowsay==6.1
cryptography==45.0.6
cs50==9.4.0
daphne==4.2.1
Django==5.1.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dnspython==2.7.0
docutils==0.21.2
email_validator==2.2.0
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.4
Flask==3.1.0
Flask-Session==0.8.0
gunicorn==20.1.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
imagesize==1.4.1
incremental==24.7.2
itsdangerous==2.2.0
Jinja2==3.1.5
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
msgpack==1.1.1
msgspec==0.19.0
orjson==3.11.0
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pygame==2.6.1
Pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.1.0
pypiwin32==223
python-dotenv==1.1.1
python-multipart==0.0.20
pyttsx3==2.98
pywin32==310
PyYAML==6.0.2
redis==6.2.0
requests==2.32.4
rich==14.0.0
rich-toolkit==0.14.8
rignore==0.6.2
roman-numerals-py==3.1.0
sentry-sdk==2.33.0
service-identity==24.2.0
setuptools==76.0.0
shellingham==1.5.4
sniffio==1.3.1
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
sqlparse==0.5.3
starlette==0.47.1
termcolor==2.5.0
Twisted==25.5.0
txaio==25.6.1
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
urllib3==2.5.0
uvicorn==0.35.0
watchfiles==1.1.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.9.0
zope.interface==7.2
