alabaster
annotated-types
anyio
asgiref
attrs
autobahn
Automat
babel
blinker
cachelib
certifi
cffi
channels
channels_redis
charset-normalizer
click
colorama
constantly
coverage
cryptography
cs50
cloudinary
django-cloudinary-storage
daphne
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
dj_database_url
dnspython
docutils
email_validator
fastapi
fastapi-cli
fastapi-cloud-cli
Flask
Flask-Session
gunicorn
h11
httpcore
httptools
httpx
hyperlink
idna
imagesize
incremental
itsdangerous
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdurl
msgpack
msgspec
orjson
packaging
pillow
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pygame
Pygments
PyJWT
pyOpenSSL
python-dotenv
python-multipart
pyttsx3
PyYAML
redis
requests
rich
rich-toolkit
roman-numerals-py
sentry-sdk
service-identity
setuptools
shellingham
sniffio
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
sqlparse
starlette
termcolor
Twisted
txaio
typer
typing-inspection
typing_extensions
tzdata
ujson
urllib3
uvicorn
watchfiles
websockets
Werkzeug
wheel
whitenoise
zope.interface
